{% extends "projects/projects.html" %}

{% block content %}


<div class="card card-primary card-outline mb-4" style="width:1024px">
	<div class="card-header">
		<div class="card-title">
			Enter Project Data:
		</div>
	</div>

<form action="{{ url_for('submit_project') }}" method="POST"> <!--begin::Body-->
<div class="card-body">
	<div class="mb-3"> 
	<label for="projectTitle" class="form-label">Project Title:</label> 
	<input type="text" class="form-control" id="projectTitle" name="projectTitle" value="{{ data.title }}" aria-describedby="textDesc">
		<div id="textDesc" class="form-text">
			Text
		</div>
	</div>
	
	<div class="mb-3"> 
		<label for="projectContractor" class="form-label">Contractor:</label> 
		<input type="text" class="form-control" name="projectContractor" value="{{ data.contractor }}">
	</div>
	
	<div class="mb-3"> 
		<label for="projectLocation" class="form-label">Location:</label> 
		<input type="text" class="form-control" name="projectLocation" value="{{ data.location }}">
	</div>
	
	<div class="mb-3"> 
		<label for="projectDescription" class="form-label">Description:</label> 
		<input type="text" class="form-control" name="projectDescription" value="{{ data.description }}">
	</div>

	
	
</div> <!--end::Body--> <!--begin::Footer-->
<div class="card-footer"> 
	<button type="submit" class="btn btn-primary">Submit</button> 
	<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cancel_new_project') }}'">Cancel</button>  
</div> <!--end::Footer-->
</form>




</div>





{% endblock %}