{% extends "index.html" %}

{% block content %}


<div class="card">
	<div class="card-header">
	<a href="{{ url_for('new_project') }}"><button type="button" class="btn btn-block btn-primary">New Project</button></a>
	</div>
</div>

<br />


<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Ongoing Projects</h3>
		<div class="card-tools"> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a> </div>
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>Project</th>
					<th>Contractor</th>
					<th>Location</th>
					<th>Description</th>
					<th>Status</th>
					<th>Date Created</th>
					<th>Created By</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <img src="{{ url_for('static', filename='images/default-150x150.png') }}" alt="Product 1" class="rounded-circle img-size-32 me-2">
						<a href="#" class="text-secondary">Hipperson Z15 FWIS</a>
					</td>
					<td>Hipperson</td>
					<td></td>
					<td></td>
					<td>Active</td>
					<td>2024-11-30</td>
					<td>Admin</td>
				</tr>
				
				
			</tbody>
		</table>
	</div>
</div>


{% endblock %}