{% extends "index.html" %}

{% block content %}


<div class="card">
	<div class="card-header">
	<a href="{{ url_for('projects_bp.new_project') }}"><button type="button" class="btn btn-block btn-primary">New Project</button></a>
	</div>
</div>

<br />


<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Ongoing Projects</h3>
		
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>Start Date</th>
					<th>Name</th>
					<th>Contractor</th>
					<th>Site</th>
					<th>Description</th>
					<th>Status</th>
					<th>Created By</th>
				</tr>
			</thead>
			<tbody>
				
				{% for row in data %}
				
			
				<tr>
					<td>{{ row.date_started | strip_time_f }}</td>
					<td><a href="{{ url_for('projects_bp.view_project', project_id=row.auto_id ) }}" class="text-secondary">{{ row.title|e }}</a></td>

					<td>{{ row.contractor|e }}</td>
					<td>{{ row.location|e }}</td>
					<td>{{ row.description | e | short_description_f  }}</td>
					<td>{{ row.status | project_status_f | e }}</td>
					<td>{{ row.created_by|e }}</td>
				</tr>
				
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>


{% endblock %}