{% extends "index.html" %}

{% block content %}


<div class="card">
	<div class="card-header">
	<a href="{{ url_for('new_project') }}"><button type="button" class="btn btn-block btn-primary">New Project</button></a>
	</div>
</div>

<br />


<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Ongoing Projects</h3>
		<div class="card-tools"> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a> </div>
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>Name</th>
					<th>Contractor</th>
					<th>Location</th>
					<th>Description</th>
					<th>Status</th>
					<th>Date Created</th>
					<th>Created By</th>
				</tr>
			</thead>
			<tbody>
				
				{% for row in data %}
				
			
				<tr>
					<td><a href="{{ url_for('view_project', project_id=row.auto_id ) }}" class="text-secondary">{{ row.title|e }}</a></td>
					<td>{{ row.contractor|e }}</td>
					<td></td>
					<td>{{ row.shortDescription|e }}</td>
					<td>{{ row.status|e }}</td>
					<td>{{ row.date_created|e }}</td>
					<td>{{ row.created_by|e }}</td>
				</tr>
				
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>


{% endblock %}