{% extends "index.html" %}

{% block content %}

<div class="card card-primary card-outline mb-4" style="width:1024px">
	<div class="card-header">
		<div class="card-title">
			{% if editData %}
				<form action="{{ url_for('update_project') }}" method="POST">
				<input type="hidden" name="project_id" value="{{ data.id }}">
				<input type="text" class="form-control" id="projectTitle" name="projectTitle" value="{{ data.title }}" aria-describedby="textDesc">
			{% else %}
				{{ data.title|e }}
			{% endif %}
			
			
		</div>
	</div>
	
	<div class="card-body">
	
	<table class="table table-bordered">

		<tbody>
			<tr class="align-middle">
				<td style="width: 150px">Status:</td>
				<td>
				{% if editData %}
					<select class="form-select" id="validationCustom04" required="">
						<option selected="True">{{ data.status|e }}</option>
						<option>Active</option>
						<option>Completed</option>
						<option>Canceled</option>
					</select>
				{% else %}
					{{ data.status|e }}
				{% endif %}
				</td>
			</tr>
			<tr class="align-middle">
				<td>Contractor:</td>
				<td>
				{% if editData %}
					<input type="text" class="form-control" id="projectContractor" name="projectContractor" value="{{ data.contractor }}" aria-describedby="textDesc">
				{% else %}
					{{ data.contractor|e }}
				{% endif %}
				</td>
			</tr>
			<tr class="align-middle">
				<td>Location:</td>
				<td>
				{% if editData %}
					<input type="text" class="form-control" id="projectLocation" name="projectLocation" value="{{ data.location }}" aria-describedby="textDesc">
				{% else %}
					{{ data.location|e }}
				{% endif %}
				</td>
			</tr>
		
			<tr class="align-middle">
				<td>Created by:</td>
				<td>{{ data.created_by|e }}</td>
			</tr>
			<tr class="align-middle">
				<td>Date Created:</td>
				<td>{{ data.date_created }}</td>
			</tr>
			<tr class="align-middle">
				<td>Description:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                        <textarea name="projectDescription" id="projectDescription" class="form-control" rows="3" placeholder="">{{ data.description|e }}</textarea>
                      </div>
				{% else %}
					{{ data.description|e }}
				{% endif %}
				</td>
				
			</tr>


		</tbody>
	</table>

	<br />
	
	{% if editData %}
		<button type="submit" class="btn btn-primary">Save Changes</button> 
		<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('view_project', project_id = data.id) }}'">Cancel</button> 
		</form>
	{% else %}
		<a href="{{ url_for('view_project', project_id=data.id, edit=True) }}"><button type="button" class="btn btn-primary">Edit Project</button></a>
		<div style="float:right"><a href="{{ url_for('confirm_project_delete', project_id=data.id) }}"><button type="button" class="btn btn-danger">Delete</button></a></div>
	{% endif %}


	<hr />

		<div class="btn-group" role="group"> <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				New Report
			</button>
			
			<ul class="dropdown-menu" style="">
				<li> <a class="dropdown-item" href="#">Cylinder</a> </li>
				<li> <a class="dropdown-item" href="#">Grout Cube</a> </li>
				<li> <a class="dropdown-item" href="#">Shrinkage Prism</a> </li>
			</ul>
		</div>


	</div>


</div>


{% endblock %}