{% extends "index.html" %}

{% block content %}

<div class="card card-primary card-outline mb-4" style="width:1024px">
	<div class="card-header">
		<div class="card-title">
			{% if editData %}
				
				{% if newProject %}
					<form action="{{ url_for('projects_bp.submit_project') }}" method="POST">
				{% else %}
					<form action="{{ url_for('projects_bp.update_project') }}" method="POST">
				{% endif %}
				
				<input type="text" class="form-control" id="projectTitle" name="projectTitle" size="60" value="{{ data.title }}" aria-describedby="textDesc">
				
				<input type="hidden" name="project_id" value="{{ data.id }}">
				
				<input type="hidden" name="newProject" value="{{ newProject }}">
				<input type="hidden" name="createdBy" value="{{ data.created_by }}">
				<input type="hidden" name="dateCreated" value="{{ data.date_created }}">

			{% else %}
				{{ data.title|e }}
			{% endif %}
			
			
		</div>
	</div>
	
	<div class="card-body">
	
	<table class="table table-bordered">

		<tbody>
			<tr class="align-middle">
				<td style="width: 150px" class="align-middle">Start Date:</td>
				<td>
				{% if editData %}
					<input style="width: 200px" class="form-control" type="date" name="projectDateStarted" value="{{ data.date_started | strip_time }}">
				{% else %}
					{{ data.date_started | start_date_format }}
				{% endif %}
				</td>
			</tr>
			<tr class="align-middle">
				<td>Status:</td>
				<td>
				{% if editData %}
				
					<select class="form-select" name="projectStatus" id="projectStatus" style="width: 200px">
						{% for key,value in statusData.items() %}	
							<option value="{{ key }}" {% if key == data.status %}selected{% endif %}>{{ value }}</option>
						{% endfor %}
					</select>
				{% else %}
					{{ data.status | project_status }}
				{% endif %}
				</td>
			</tr>
			<tr class="align-middle">
				<td>Contractor:</td>
				<td>
				{% if editData %}
					<input type="text" class="form-control" id="projectContractor" name="projectContractor"  value="{{ data.contractor }}" aria-describedby="textDesc">
				{% else %}
					{{ data.contractor|e }}
				{% endif %}
				</td>
			</tr>
			<tr class="align-middle">
				<td>Site:</td>
				<td>
				{% if editData %}
					<input type="text" class="form-control" id="projectLocation" name="projectLocation" value="{{ data.location }}" aria-describedby="textDesc">
				{% else %}
					{{ data.location|e }}
				{% endif %}
				</td>
			</tr>
		
			
			<tr class="align-middle">
				<td>Description:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                        <textarea name="projectDescription" id="projectDescription" class="form-control" rows="3" placeholder="">{{ data.description|e }}</textarea>
                      </div>
				{% else %}
					{{ data.description|e }}
				{% endif %}
				</td>
				
			</tr>
			<tr class="align-middle">
				<td>Files:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                       
                      </div>
				{% else %}

				{% endif %}
				</td>
				
			</tr>
			<tr class="align-middle">
				<td>Created by:</td>
				<td>{{ data.created_by|e }}</td>
			</tr>
			<tr class="align-middle">
				<td>Date Created:</td>
				<td> {{data.date_created | date_created_format }} </td>
			</tr>


		</tbody>
	</table>

	<br />
	
	{% if editData %}
		<button type="submit" class="btn btn-primary">Save</button> 
		{% if newProject %}
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('projects_bp.projects') }}'">Cancel</button> 
		
		{% else %}
		
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('projects_bp.view_project', project_id = data.id) }}'">Cancel</button> 
		
		{% endif %}
		</form>
	{% else %}
		<a href="{{ url_for('projects_bp.view_project', project_id=data.id, edit=True) }}"><button type="button" class="btn btn-primary">Edit Project</button></a>
		<div style="float:right"><a href="{{ url_for('projects_bp.confirm_delete', project_id=data.id) }}"><button type="button" class="btn btn-danger">Delete</button></a></div>
	{% endif %}


	{% if not editData %}
	<hr />

		<div class="btn-group" role="group"> <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				New Report
			</button>
			
			<ul class="dropdown-menu" style="">
				<li> <a class="dropdown-item" href="{{ url_for('cylinders_bp.new_cylinder') }}">Cylinder</a> </li>
				<li> <a class="dropdown-item" href="#">Grout Cube</a> </li>
				<li> <a class="dropdown-item" href="#">Shrinkage Prism</a> </li>
			</ul>
		</div>
	{% endif %}


	</div>


</div>


{% endblock %}