/* */

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.hidden {
	display: none;
}

.normal-text {
	font-weight: normal;
}


.cylinder_width {
	max-width: 1600px
}

.view_cylinder {
	max-width: 1180px;
}

.cylFormData {
	width: 230px
}

.cylFormLabels {
	width: 160px;
}

.cylFormLabels label {
	font-weight: bold;
}

.cylFormTime {
	width: 150px
}

.cylFormDate {
	width: 170px;
	font-weight: normal
}


.cylStrInput {
	width: 80px;
	display: inline;
}


.cylConditionsLabel {
	width: 160px;
	
}

.cylConditionsNotesText {
	min-width: 200px

}

.cylConditionsData {
	width: 80px;
	display: inline;

}



/* Cylinder Items */

.cylItemsSmall, .cylItemsSmall2, .cylItemsSmall3, .cylItemsID, .cylItemsDate {
	display: inline;

}


.itemsSmall {
	min-width: 68px;
}

.itemsSmall-2 {
	width: 65px;
}

.itemsSmall-3 {
	width: 75px;
}

.cylItemsID {
	width: 110px;
}

.cylItemsDate {
	width: 100px;
}

.itemIDCol {
	min-width: 118px;
}

.itemsDateCol {
	min-width: 118px;
}

.itemsSmallCol {
	min-width: 68px;
}

.itemsSmallCol-2 {
	min-width: 76px;
}

.itemsSmallCol-3 {
	min-width: 86px;
}
