/* */

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.hidden {
	display: none;
}

.normal-text {
	font-weight: normal;
}

.underline {
	text-decoration: underline;
}

.error-msg {
	color: red;
	min-width: 200px;
	font-weight: normal;
}

.custom-col {
	width: auto;
}

.cylinder_width {
	max-width: 1600px
}

.view_cylinder {
	max-width: 1180px;
}

.cylFormData {
	width: 230px
}

.cylFormLabels {
	width: 160px;
}

.cylFormLabels label {
	font-weight: bold;
}

.cylFormTime {
	width: 150px
}

.cylFormDate {
	width: 170px;
	font-weight: normal
}


.cylStrInput {
	width: 80px;
	display: inline;
}


.cylConditionsLabel {
	width: 160px;
	
}

.cylConditionsNotesText {
	min-width: 200px

}

.cylConditionsData {
	width: 80px;
	display: inline;

}


.size1 {
	min-width: 51px;
}

.size2 {
	min-width: 60px;
}

.size3 {
	min-width: 69px;
}

.size4 {
	min-width: 78px;
}	

.size5 {
	min-width: 87px;
}

.size6 {
	min-width: 96px;
}	


.size7 {
	min-width: 105px;
}

.size8 {
	min-width: 114px;
}

.size9{
	min-width: 123px;
}

.size10 {
	min-width: 132px;
}

.size11 {
	min-width: 141px;
}