{% extends "index.html" %}

{% block content %}


<div class="card">
	<div class="card-header">
	<a href="{{ url_for('projects_bp.new_project') }}"><button type="button" class="btn btn-block btn-primary">New Cylinder</button></a>
	</div>
</div>

<br />
 

<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Cylinder Reports</h3>
		
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>Name</th>
					<th>Cast Date</th>
					<th>Contractor</th>
					<th>Site</th>
					<th>Supplier</th>
					<th>Status</th>
					<th>Date Created</th>
					<th>Created By</th>
				</tr>
			</thead>
			<tbody>
				
				{% for row in data %}
				
			
				<tr>
					<td><a href="{{ url_for('projects_bp.view_project', project_id=row.auto_id ) }}" class="text-secondary">{{ row.title|e }}</a></td>
					<td><td>
					<td>{{ row.contractor|e }}</td>
					<td>{{ row.site|e }}</td>
					<td>{{ row.supplier|e }}</td>
					<td>{{ row.status|e }}</td>
					<td>{{ row.date_created|e }}</td>
					<td>{{ row.created_by|e }}</td>
				</tr>
				
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>


{% endblock %}