{% extends "cylinders/cylinders.html" %}

{% block content %}


<div class="card card-primary card-outline mb-4" style="width:1024px">
	<div class="card-header">
		<div class="card-title">
			Enter Project Data:
		</div>
	</div>

<form action="{{ url_for('cylinders_bp.submit_cylinder') }}" method="POST"> <!--begin::Body-->
<div class="card-body">
	<div class="mb-3"> 
	<label for="cylinderTitle" class="form-label">Cylinder Title:</label> 
	<input type="text" class="form-control" id="cylinderTitle" name="cylinderTitle" value="{{ data.title }}" aria-describedby="textDesc">
		<div id="textDesc" class="form-text">
			Text
		</div>
	</div>
	
	<div class="mb-3"> 
		<label for="cylinderContractor" class="form-label">Contractor:</label> 
		<input type="text" class="form-control" name="cylinderContractor" value="{{ data.contractor }}">
	</div>
	
	<div class="mb-3"> 
		<label for="cylinderLocation" class="form-label">Site:</label> 
		<input type="text" class="form-control" name="cylinderLocation" value="{{ data.location }}">
	</div>
	
	<div class="mb-3"> 
		<label for="cylinderDescription" class="form-label">Description:</label> 
		<input type="text" class="form-control" name="cylinderDescription" value="{{ data.description }}">
	</div>

	
	
</div> <!--end::Body--> <!--begin::Footer-->
<div class="card-footer"> 
	<button type="submit" class="btn btn-primary">Submit</button> 
	<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.cancel_new_cylinder') }}'">Cancel</button>  
</div> <!--end::Footer-->
</form>




</div>





{% endblock %}