{% extends "index.html" %}

{% block content %}

{% if editData %}
	{% if newCylinder %}
		<form action="{{ url_for('cylinders_bp.submit_cylinder') }}" method="POST" id="cylReportForm">		
	{% else %}
		<form action="{{ url_for('cylinders_bp.update_cylinder') }}" method="POST" id="cylReportForm">
	{% endif %}
		<input type="hidden" name="cylinder_id" value="{{ data.id }}">

		<input type="hidden" name="newCylinder" value="{{ newCylinder }}">
		<input type="hidden" name="createdBy" value="{{ data.createdBy }}">
		<input type="hidden" name="dateCreated" value="{{ data.dateCreated }}">
{% endif %}

<div class="card card-primary card-outline mb-4" style="max-width: 800px">
	<div class="card-header">
		<div class="card-title">

			{% if editData %}
				<input type="text" class="form-control" id="cylTitle" name="cylTitle" size="60" value="{{ data.title }}" aria-describedby="textDesc">
			{% else %}
				{{ data.title|e }}
			{% endif %}
			

		</div>
	</div>
	
	
<div class="card-body">

<table class="table table-bordered">

	<tbody>
		<tr>
			<td><b>Mix and Field Data:</b></td>
		</tr>
		<tr>
			<td>
	
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylProject" class="col-sm-2 col-form-label cylFormText">Project:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylProject" name="cylProject"  value="{{ data.projectName }}" aria-describedby="textDesc">
							{% else %}
								{{ data.projectName|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylContractor" class="col-sm-2 col-form-label cylFormText">Contractor:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylContractor" name="cylContractor"  value="{{ data.contractor }}" aria-describedby="textDesc">
							{% else %}
								{{ data.contractor|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylPlacement" class="col-sm-2 col-form-label cylFormText">Type of Placement:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylPlacement" name="cylPlacement"  value="{{ data.placementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.placementType|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylTicket" class="col-sm-2 col-form-label cylFormText">Ticket #:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylTicket" name="cylTicket"  value="{{ data.ticket_num }}" aria-describedby="textDesc">
							{% else %}
								{{ data.ticket_num|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylSampled" class="col-sm-2 col-form-label cylFormText">Sampled From:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylSampled" name="cylSampled"  value="{{ data.sampled_from }}" aria-describedby="textDesc">
							{% else %}
								{{ data.sampled_from|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylCement" class="col-sm-2 col-form-label cylFormText">Cement Type:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylCement" name="cylCement"  value="{{ data.cement_type }}" aria-describedby="textDesc">
							{% else %}
								{{ data.cement_type|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
					<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylSupplier" class="col-sm-2 col-form-label cylFormText">Supplier:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylSupplier" name="cylSupplier"  value="{{ data.supplier }}" aria-describedby="textDesc">
							{% else %}
								{{ data.supplier|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylMix" class="col-sm-2 col-form-label cylFormText">Mix ID:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylMix" name="cylMix"  value="{{ data.mix_id }}" aria-describedby="textDesc">
							{% else %}
								{{ data.mix_id|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylVolume" class="col-sm-2 col-form-label cylFormText">Load Volume: (m<sup>3</sup>)</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylVolume" name="cylVolume"  value="{{ data.load_volume }}" aria-describedby="textDesc">
							{% else %}
								{{ data.load_volume }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylLoadNum" class="col-sm-2 col-form-label cylFormText">Load #:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylLoadNum" name="cylLoadNum"  value="{{ data.load_num }}" aria-describedby="textDesc">
							{% else %}
								{{ data.load_num|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylTruckNum" class="col-sm-2 col-form-label cylFormText">Truck #:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylTruckNum" name="cylTruckNum"  value="{{ data.truck_num }}" aria-describedby="textDesc">
							{% else %}
								{{ data.truck_num|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylMouldType" class="col-sm-2 col-form-label cylFormText">Mould Type:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylMouldType" name="cylMouldType"  value="{{ data.mould_type }}" aria-describedby="textDesc">
							{% else %}
								{{ data.mould_type|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>

				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylPONum" class="col-sm-2 col-form-label cylFormText">PO #:</label>
							<div class="col">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylPONum" name="cylPONum"  value="{{ data.po_num }}" aria-describedby="textDesc">
							{% else %}
								{{ data.po_num|e }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>

		</td>
	</tr>

	</tbody>
	</table>

	<table class="table table-bordered">
		<tbody>
		<tr>
			<td colspan="2"><b>Date and Time:</b></td>
		
		</tr>

		<tr>
			<td colspan="2">
				<div class="row">
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylinderCastDate" class="col-sm-2 col-form-label cylFormText">Cast Date:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input class="form-control cylFormData" type="date" name="cylCastDate" value="{{ data.dateCast | strip_time }}">
							{% else %}
								{{ data.dateCast | strip_time }}
							{% endif %}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group row cylrow">
						
							<label for="cylinderDateTransported" class="col-sm-2 col-form-label cylFormText">Date Transported:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input class="form-control cylFormData" type="date" name="cylDateTransported" value="{{ data.dateTransported | strip_time }}">
							{% else %}
								{{ data.dateTransported | strip_time }}
							{% endif %}
							</div>
						</div>
					</div>	
				</div>
			</td>
		</tr>

		<tr>

			<td colspan="2">
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylinderStatus" class="col-sm-2 col-form-label cylFormData">Batch Time:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="time" class="form-control cylFormTime" id="cylBatchTime" name="cylBatchTime"  value="{{ data.time_batch }}" aria-describedby="textDesc">
							{% else %}
								{{ data.batchTime | strip_date }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylinderStatus" class="col-sm-2 col-form-label cylFormData">Sample Time:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="time" class="form-control cylFormTime" id="cylSampleTime" name="cylSampleTime"  value="{{ data.time_sample }}" aria-describedby="textDesc">
							{% else %}
								{{ data.sampleTime | strip_date }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="form-group row">
					<div class="col">
						<div class="form-group row cylrow">
							<label for="cylinderStatus" class="col-sm-2 col-form-label cylFormData">Cast Time:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="time" class="form-control cylFormTime" id="cylCastTime" name="cylCastTime"  value="{{ data.time_cast }}" aria-describedby="textDesc">
							{% else %}
								{{ data.castTime | strip_date }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>
			
			</td>
		
		</tr>
		
	</tbody>
	</table>


	
	<table class="table table-bordered" id="rootTable">
		<tbody id="table-body">	
		<tr>
			<td colspan="3"><b>Strength Target:</b></td>
			<input type="hidden" id="cyl_str_total_rows" value="{{ data.numStrTargets }}">
		</tr>
	
		<tr class="cylStrRow">
			<td>
				{% if editData %}
					<button type="button" class="btn btn-primary" onclick="addInput()">Add Strength</button>
					<button type="button" class="btn btn-primary" onclick="removeCylStrInput()">Remove Last</button>
				{% endif %}
			</td>
			<td>Strength (MPa)</td>
			<td>Days</td>
		</tr>

		{% for row in data.str_table %}
		
			<tr class="cylStrRow" id="cylStrRow-{{loop.index}}">
				<td>
					<label class="col-sm-2 col-form-label cylStrLabel">Target {{ loop.index }}:</label>
				</td>
				<td>
					
					{% if editData %}
						<input type="number" class="form-control cylStrData" id="str_table_str{{ loop.index }}" name="str_table_strength"  value="{{ row.target_strength }}" aria-describedby="textDesc">
					{% else %}
						<div class="col-form-label">
							{{ row.target_strength }}
						</div>
					{% endif %}
					
				</td>
				
				<td>
					{% if editData %}
						<input type="number" class="form-control cylStrData" id="str_table_days{{ loop.index }}" name="str_table_days"  value="{{ row.target_days }}" aria-describedby="textDesc">
					{% else %}
						<div class="col-form-label">
							{{ row.target_days }}
						</div>	
					{% endif %}			
				
				</td>

			</tr>
		
		{% endfor %}

		</tbody>
	
	</table>	
	
	<div class="table-container-measurements">
		<table class="table table-bordered table-container-measurements">
			<tbody>	
			
			<tr>
				<td colspan="5"><b>Measurements:</b></td>
			</tr>

			<tr class="cylStrRow">
				<td></td>
				<td>Actual</td>
				<td>Min</td>
				<td>Max</td>
				<td>Notes</td>
			</tr>
			
			<tr class="cylStrRow">
				<td><label class="col-sm-2 col-form-label cylMeasureLabel">Slump (mm)</label></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="text" class="form-control cylMeasureNotes" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
			</tr>
			<tr class="cylStrRow">
				<td><label class="col-sm-2 col-form-label cylMeasureLabel">Air (%)</label></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="text" class="form-control cylMeasureNotes" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
			</tr>
			<tr class="cylStrRow">
				<td><label class="col-sm-2 col-form-label cylMeasureLabel">Unit Density (kg/m<sup>3</sup>)</label></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="text" class="form-control cylMeasureNotes" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
			</tr>
			<tr class="cylStrRow">
				<td><label class="col-sm-2 col-form-label cylMeasureLabel">Sample Temp (&deg;C)</label></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="text" class="form-control cylMeasureNotes" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
			</tr>
			<tr class="cylStrRow">
				<td><label class="col-sm-2 col-form-label cylMeasureLabel">Ambient Temp (&deg;C)</label></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="text" class="form-control cylMeasureNotes" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
			</tr>
			<tr class="cylStrRow">
				<td><label class="col-sm-2 col-form-label cylMeasureLabel">Initial Curing Conditions (&deg;C)</label></td>
				<td><input type="number" step="0.1" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" step="0.1" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="number" step="0.1" class="form-control cylStrData" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
				<td><input type="text" class="form-control cylMeasureNotes" id="cylProject" name="cylProject"  value="{{ data.project }}" aria-describedby="textDesc"></td>
			</tr>

				
				
		</table>		
	</div>
		
	<table class="table table-bordered">
		<tbody>	
			<tr class="align-middle">
				<td>Notes:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                        <textarea name="cylNotes" id="cylNotes" class="form-control" rows="3" placeholder="">{{ data.notes|e }}</textarea>
                      </div>
				{% else %}
					{{ data.notes|e }}
				{% endif %}
				</td>
				
			</tr>
			<tr class="align-middle">
				<td>Files:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                       
                      </div>
				{% else %}

				{% endif %}
				</td>
				
			</tr>
			
			<tr class="align-middle">
				<td>Status:</td>
				<td>
				{% if editData %}
						<select class="form-select cylFormData" name="cylStatus" id="cylStatus">
						{% for key,value in statusData.items() %}	
							<option value="{{ key }}" {% if key == data.status %}selected{% endif %}>{{ value }}</option>
						{% endfor %}
						</select>
				{% else %}
					{{ data.status | project_status }}
				{% endif %}
				</td>
			
			</tr>
			<tr class="align-middle">
				<td>Created by:</td>
				<td>{{ data.createdBy|e }}</td>
			</tr>
			<tr class="align-middle">
				<td>Date Created:</td>
				<td> {{data.dateCreated | date_created_format }} </td>
			</tr>


		</tbody>
	</table>


	<br />
	
	{% if editData %}
		<button type="submit" class="btn btn-primary" form="cylReportForm">Save</button> 
		{% if newCylinder %}
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.cylinders') }}'">Cancel</button> 
		
		{% else %}
		
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.view_cylinder', cylinder_id = data.id) }}'">Cancel</button> 
		
		{% endif %}

	{% else %}
		<a href="{{ url_for('cylinders_bp.view_cylinder', cylinder_id=data.id, edit=True) }}"><button type="button" class="btn btn-primary">Edit Cylinder</button></a>
		<div style="float:right"><a href="{{ url_for('cylinders_bp.confirm_delete', cylinder_id=data.id) }}"><button type="button" class="btn btn-danger">Delete</button></a></div>
	{% endif %}


	</div>

</div>

{% if editData %}
	</form>
{% endif %}


{% endblock %}