/* */
.testRow {
	display: flex;
	align-items: center;
}

.cylFormRow {
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.cylFormText {
	width: 160px;
	display: flex;
	align-items: center;

}

.cylFormTime {
	width: 120px
}

.cylFormData {
	width: 200px
}

.cylFormVolume {
	width: 70px;

}	

.cylFormVolumeCol {
	flex: 1 0 0%;
}

.cylFormVolumeRow {
	width: 226px;
	display: flex;
	align-items: center;

}

.cylStrRow {
	text-align: center;
	
}

.cylStrLabel {
	width: 60px
}

.cylStrData {
	width: 75px;
	display: inline;
	text-align: center
}


.cylMeasureLabel {
	width: 130px
	
}

.cylMeasureNotes {
	width: 200px;
	display: inline;
	vertical-align: middle;
}


.cylinder_width {
	max-width: 1600px
}

.view_cylinder {
	max-width: 800px
}

.table-container-measurements {
  overflow-x: auto; /* Enables horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
  max-width: 100%; /* Ensures the container doesn't exceed the screen width */
}


table {
  width: 100%; /* Ensures the table uses full width of the container */
  border-collapse: collapse; /* Optional: For consistent borders */

}