{% extends "index.html" %}
 
{% block content %}


{% if editData %}


	{% if newCylinder %}
		<form action="{{ url_for('cylinders_bp.submit_cylinder') }}" method="POST" id="cylReportForm">		
	{% else %}
		<form action="{{ url_for('cylinders_bp.update_cylinder') }}" method="POST" id="cylReportForm">
	{% endif %}
		<input type="hidden" name="cylinderID" value="{{ data.id }}">

		<input type="hidden" name="newCylinder" value="{{ newCylinder }}">
		<input type="hidden" name="{{ data.fieldTable.labels.createdBy }}" value="{{ data.fieldTable.valData.createdBy }}">
		<input type="hidden" name="{{ data.fieldTable.labels.dateCreated }}" value="{{ data.fieldTable.valData.dateCreated }}">

		
		
{% endif %}

<div class="card card-primary card-outline mb-4 view_cylinder">
	<div class="card-header">
		<div class="card-title">

			{% if editData %}
				<input type="text" class="form-control" id="cylTitle" name="{{ data.fieldTable.labels.reportTitle }}" size="60" value="{{ data.fieldTable.valData.reportTitle }}" aria-describedby="textDesc">
			{% else %}
				{{ data.fieldTable.valData.reportTitle | e }}
			{% endif %}
			

		</div>
	</div>
	
	
<div class="card-body">

<table class="table table-bordered">

	<tbody>
		<tr>
			<td><b>Mix and Field Data:</b></td>
		</tr>
		<tr>
			<td>
		
	
				<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylProject" class="col-sm-2 col-form-label cylFormText">Project:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" maxlength="50" class="form-control cylFormData" id="cylProject" name="{{ data.fieldTable.labels.projectName }}"  value="{{ data.fieldTable.valData.projectName }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.projectName | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row cylFormRow">
						
							<label for="cylContractor" class="col-sm-2 col-form-label cylFormText">Contractor:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylContractor" name="{{ data.fieldTable.labels.contractor }}"  value="{{ data.fieldTable.valData.contractor }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.contractor|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylPlacement" class="col-sm-2 col-form-label cylFormText">Type of Placement:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylPlacement" name="{{ data.fieldTable.labels.placementType }}"  value="{{ data.fieldTable.valData.placementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.placementType|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row cylFormRow">
						
							<label for="cylTicket" class="col-sm-2 col-form-label cylFormText">Ticket #:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylTicket" name="{{ data.fieldTable.labels.ticketNum }}"  value="{{ data.fieldTable.valData.ticketNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.ticketNum|e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylSampled" class="col-sm-2 col-form-label cylFormText">Sampled From:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylSampled" name="{{ data.fieldTable.labels.sampledFrom }}"  value="{{ data.fieldTable.valData.sampledFrom }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.sampledFrom | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row cylFormRow">
						
							<label for="cylCement" class="col-sm-2 col-form-label cylFormText">Cement Type:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylCement" name="{{ data.fieldTable.labels.cementType }}"  value="{{ data.fieldTable.valData.cementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.cementType | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
					<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylSupplier" class="col-sm-2 col-form-label cylFormText">Supplier:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylSupplier" name="{{ data.fieldTable.labels.supplier }}"  value="{{ data.fieldTable.valData.supplier }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.supplier | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row cylFormRow">
						
							<label for="cylMix" class="col-sm-2 col-form-label cylFormText">Mix ID:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylMix" name="{{ data.fieldTable.labels.mixID }}"  value="{{ data.fieldTable.valData.mixID }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.mixID | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
				<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylVolume" class="col-sm-2 col-form-label cylFormText">Load Volume ({{ data.fieldTable.valData.volumeUnits | volume_units_f }}<sup>3</sup>):</label>
							<div class="col col-form-label">
							{% if editData %}
								<div class="row cylFormVolumeRow">
									<div class="cylFormVolumeCol">
										<input type="text" class="form-control cylFormVolume" id="cylVolume" name="{{ data.fieldTable.labels.volume }}"  value="{{ data.fieldTable.valData.volume }}" aria-describedby="textDesc">
									</div>
									
									{% for key,value in tables.loadVolumeData.items() %}
									
									
									<div class="cylFormVolumeCol">
										<input class="form-check-input" type="radio" name="{{ data.fieldTable.labels.volumeUnits }}" id="gridRadios1" value="{{ key }}" {% if key == data.fieldTable.valData.volumeUnits %} checked {% endif %}> 
										<label class="form-check-label" for="gridRadios1">
											{{ value }}<sup>3</sup>
										</label>
									</div>
		
									{% endfor %}
								</div>
								
							{% else %}
								{{ data.fieldTable.valData.volume }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row cylFormRow">
						
							<label for="cylLoadNum" class="col-sm-2 col-form-label cylFormText">Load #:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylLoadNum" name="{{ data.fieldTable.labels.loadNum }}"  value="{{ data.fieldTable.valData.loadNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.loadNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylTruckNum" class="col-sm-2 col-form-label cylFormText">Truck #:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylTruckNum" name="{{ data.fieldTable.labels.truckNum }}"  value="{{ data.fieldTable.valData.truckNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.truckNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row cylFormRow">
								<label for="cylMouldType" class="col-sm-2 col-form-label cylFormText">Mould Type:</label>
								
								<div class="col col-form-label">
								{% if editData %}
								<select class="form-select cylFormData" name="{{ data.fieldTable.labels.mouldType }}" id="cylMouldType">
								{% for key,value in tables.mouldData.items() %}	
									<option value="{{ key }}" {% if key == data.fieldTable.valData.mouldType %}selected{% endif %}>{{ value }}</option>
								{% endfor %}
								</select>
								{% else %}
									{{ data.fieldTable.valData.mouldType | mould_f }}
								{% endif %}
								
							</div>
							
							
							
						</div>
					</div>
						
				</div>

				<div class="row">
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylPONum" class="col-sm-2 col-form-label cylFormText">PO #:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="text" class="form-control cylFormData" id="cylPONum" name="{{ data.fieldTable.labels.poNum }}"  value="{{ data.fieldTable.valData.poNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.poNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="row cylFormRow">
							<label for="cylPONum" class="col-sm-2 col-form-label cylFormText">SCC:</label>
							{% if editData %}
								<div class="row cylFormSCCRow">

									{% for key,value in tables.sccData.items() %}
									
									<div class="cylFormVolumeCol">
										<input class="form-check-input" type="radio" name="{{ data.fieldTable.labels.isScc }}" id="gridRadios{{ value }}" value="{{ key }}" {% if key == data.fieldTable.valData.isScc %} checked {% endif %}> 
										<label class="form-check-label" for="gridRadios{{ value }}">
											{{ value }}
										</label>
									</div>
		
									{% endfor %}
								</div>
								
							{% else %}
								<div class="row cylFormSCCRow">
									<div class="cylFormVolumeCol">
									{{ data.fieldTable.valData.isScc | scc_f }}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				
				</div>
				
				
		</td>
	</tr>

	</tbody>
	</table>
	
	<br />

	<table class="table table-bordered">
		<tbody>
		<tr>
			<td colspan="2"><b>Date and Time:</b></td>
		
		</tr>

		<tr>
			<td colspan="2">
				<div class="row">
					<div class="col">
						<div class="row">
						
							<label for="cylCastDate" class="col-sm-2 col-form-label cylFormText">Cast Date:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input class="form-control cylFormData" type="date" name="{{ data.fieldTable.labels.castDate }}" id="cylCastDate" value="{{ data.fieldTable.valData.castDate | strip_time_f }}">
							{% else %}
								{{ data.fieldTable.valData.castDate | strip_time_f }}
							{% endif %}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
						
							<label for="cylDateTransported" class="col-sm-2 col-form-label cylFormText">Date Transported:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input class="form-control cylFormData" type="date" name="{{ data.fieldTable.labels.dateTransported }}" value="{{ data.fieldTable.valData.dateTransported | strip_time_f }}">
							{% else %}
								{{ data.fieldTable.valData.dateTransported | strip_time_f }}
							{% endif %}
							</div>
						</div>
					</div>	
				</div>
			</td>
		</tr>

		<tr>

			<td colspan="2">
				<div class="row">
					<div class="col">
						<div class="row">
							<label for="cylBatchTime" class="col-sm-2 col-form-label cylFormData">Batch Time:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="time" class="form-control cylFormTime" id="cylBatchTime" name="{{ data.fieldTable.labels.batchTime }}"  value="{{ data.fieldTable.valData.batchTime }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.batchTime | strip_seconds_f }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row">
							<label for="cylSampleTime" class="col-sm-2 col-form-label cylFormData">Sample Time:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="time" class="form-control cylFormTime" id="cylSampleTime" name="{{ data.fieldTable.labels.sampleTime }}"  value="{{ data.fieldTable.valData.sampleTime }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.sampleTime | strip_seconds_f }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row">
							<label for="cylinderStatus" class="col-sm-2 col-form-label cylFormData">Cast Time:</label>
							<div class="col col-form-label">
							{% if editData %}
								<input type="time" class="form-control cylFormTime" id="cylCastTime" name="{{ data.fieldTable.labels.castTime }}"  value="{{ data.fieldTable.valData.castTime }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.castTime | strip_seconds_f }}
							{% endif %}
							</div>
						</div>
					</div>
				
				</div>
			
			</td>
		
		</tr>
		
	</tbody>
	</table>

	<br />

	
	<table class="table table-bordered" id="rootTable">
		<tbody id="table-body-9">	
		<tr>
			<td colspan="3"><b>Strength Target:</b></td>
			<!--<input type="hidden" id="cyl_str_total_rows" value="{{ data.fieldTable.valData.numStrTargets }}">-->
		</tr>
	
		{% if editData %}
		<tr class="">
			<td colspan=3>
				<button type="button" class="btn btn-primary" onclick="STR_FUNCTIONS.addStrTarget()">Add Target</button>
				<button type="button" class="btn btn-primary" onclick="STR_FUNCTIONS.removeStrTarget()">Remove Target</button>
			</td>
			
		</tr>
			
		
		{% endif %}
	
		<tr class="cylStrRow">
			<td></td>
			<td style="width: 280px">Strength (MPa)</td>
			<td style="width: 280px">Days</td>
		</tr>
	
		{% for row in data.strTable %}

			<tr class="cylStrRow" id="{{ row.name }}">
				<td>
					<label class="col-sm-2 col-form-label cylStrLabel">{{ row.title }}:</label>
				</td>
				<td>
					
					{% if editData %}
						<input type="number" class="form-control cylStrData" id="{{ row.name }}" name="{{ row.labels.strength }}"  value="{{ row.valData.strength }}" aria-describedby="textDesc">
					{% else %}
						<div class="col-form-label">
							{{ row.valData.strength }}
						</div>
					{% endif %}
					
				</td>
				
				<td>
					{% if editData %}
						<input type="number" class="form-control cylStrData" id="{{ row.name }}" name="{{ row.labels.days}}"  value="{{ row.valData.days }}" aria-describedby="textDesc">
					{% else %}
						<div class="col-form-label">
							{{ row.valData.days }}
						</div>	
					{% endif %}			
				
				</td>

			</tr>
		
			<input type="hidden" name="{{ row.labels.autoID }}" value="{{ row.valData.autoID }}">
		
		{% endfor %}
		
		
			
		

		</tbody>
	
	</table>
	
	<br />
	
	<div class="table-container-measurements">
		<table class="table table-bordered table-container-measurements">
			<tbody>	
			
			<tr>
				<td colspan="5"><b>Measurements:</b></td>
			</tr>

			<tr class="cylMeasureRow">
				<td  class="cylMeasureLabel"></td>
				<td>Actual</td>
				<td>Min</td>
				<td>Max</td>
				<td>Notes</td>
			</tr>
			
			
			{% for row in data.conditionsTable %}


			<tr class="cylMeasureRow" id="{{ row.name }}Row">

					<td>{{ row.title | safe }}</td>
				
				{% if editData %}
					
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.actual }}" name="{{ row.labels.actual }}"  value="{{ row.valData.actual }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.min }}" name="{{ row.labels.min }}"  value="{{ row.valData.min }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.max }}" name="{{ row.labels.max }}"  value="{{ row.valData.max }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="1000" class="form-control cylMeasureNotesText" id="{{ row.labels.notes }}" name="{{ row.labels.notes }}"  value="{{ row.valData.notes }}" aria-describedby="textDesc"></td>
					<input type="hidden" name="{{ row.labels.autoID }}" value="{{ row.valData.autoID }}">

				{% else %}
					
	
					<td>{{ row.valData.actual | measurements_f }}</td>
					<td>{{ row.valData.min | measurements_f }}</td>
					<td>{{ row.valData.max | measurements_f }}</td>
					<td class="cylMeasureNotes">{{ row.valData.notes }}</td>
		
					
				{% endif %}
				

			</tr>

			{% endfor %}

		</table>		
	</div>
		
	<table class="table table-bordered">
		<tbody>	
			<tr class="align-middle">
				<td>Notes:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                        <textarea name="cylNotes" id="cylNotes" class="form-control" rows="3" placeholder="">{{ data.fieldTable.valData.notes|e }}</textarea>
                      </div>
				{% else %}
					{{ data.fieldTable.valData.notes|e }}
				{% endif %}
				</td>
				
			</tr>
			<tr class="align-middle">
				<td>Files:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                       
                      </div>
				{% else %}

				{% endif %}
				</td>
				
			</tr>
			
			<tr class="align-middle">
				<td>Status:</td>
				<td>
				{% if editData %}
						<select class="form-select cylFormData" name="cylStatus" id="cylStatus">
						{% for key,value in tables.statusData.items() %}	
							<option value="{{ key }}" {% if key == data.fieldTable.valData.status %}selected{% endif %}>{{ value }}</option>
						{% endfor %}
						</select>
				{% else %}
					{{ data.fieldTable.valData.status | project_status_f }}
				{% endif %}
				</td>
			
			</tr>
			<tr class="align-middle">
				<td>Created by:</td>
				<td>{{ data.fieldTable.valData.createdBy | e }}</td>
			</tr>
			<tr class="align-middle">
				<td>Date Created:</td>
				<td> {{ data.fieldTable.valData.dateCreated | date_created_f }} </td>
			</tr>


		</tbody>
	</table>


	<br />
	
	{% if editData %}
		<button type="submit" class="btn btn-primary" form="cylReportForm">Save</button> 
		{% if newCylinder %}
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.cylinders') }}'">Cancel</button> 
		
		{% else %}
		
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.view_cylinder', cylinder_id = data.fieldTable.valData.cylinderID) }}'">Cancel</button> 
		
		{% endif %}

	{% else %}
		<a href="{{ url_for('cylinders_bp.view_cylinder', cylinder_id=data.fieldTable.valData.cylinderID, edit=True) }}"><button type="button" class="btn btn-primary">Edit Cylinder</button></a>
		<div style="float:right"><a href="{{ url_for('cylinders_bp.confirm_delete', cylinder_id=data.fieldTable.valData.cylinderID) }}"><button type="button" class="btn btn-danger">Delete</button></a></div>
	{% endif %}


	</div>

</div>

{% if editData %}
	</form>
{% endif %}

	<script>
		//Jsonify the data passed through Flask for the cyl_from.js script
        const conditions_table_json = {{ data.conditionsTable | tojson }};
		const cyl_editing_json = {{ editData | tojson }};
		const cyl_isSCC_json = {{ data.fieldTable.valData.isScc | tojson }};
		const strength_table_json = {{ data.strTable | tojson }}
    </script>

	 <script src="{{ url_for('static', filename='js/cyl_form.js') }}"></script> 

{% endblock %}