{% extends "index.html" %}
 
{% block content %}


{% if editData %}


	{% if newCylinder %}
		<form action="{{ url_for('cylinders_bp.submit_cylinder') }}" method="POST" id="cylReportForm">		
	{% else %}
		<form action="{{ url_for('cylinders_bp.update_cylinder') }}" method="POST" id="cylReportForm">
	{% endif %}
		<input type="hidden" name="cylinderID" value="{{ data.id }}">

		<input type="hidden" name="newCylinder" value="{{ newCylinder }}">
		<input type="hidden" name="{{ data.fieldTable.labels.createdBy }}" value="{{ data.fieldTable.valData.createdBy }}">
		<input type="hidden" name="{{ data.fieldTable.labels.dateCreated }}" value="{{ data.fieldTable.valData.dateCreated }}">

		
		
{% endif %}

<div class="card card-primary card-outline mb-4 view_cylinder">
	<div class="card-header">
		<div class="card-title">

			{% if editData %}
				<input type="text" class="form-control" id="cylTitle" name="{{ data.fieldTable.labels.reportTitle }}" size="60" value="{{ data.fieldTable.valData.reportTitle }}" aria-describedby="textDesc">
			{% else %}
				{{ data.fieldTable.valData.reportTitle | e }}
			{% endif %}
			

		</div>
	</div>
	
	
<div class="card-body">



	<table class="table table-bordered">


	<tbody>
		<tr>
			<td><b>Mix and Field Data:</b></td>
		</tr>
		<tr>
			<td>
				<div class="container">
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylProject" class="">Project:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" maxlength="50" class="form-control" id="cylProject" name="{{ data.fieldTable.labels.projectName }}"  value="{{ data.fieldTable.valData.projectName }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.projectName | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylContractor" class="">Contractor:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylContractor" name="{{ data.fieldTable.labels.contractor }}"  value="{{ data.fieldTable.valData.contractor }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.contractor | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>


				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylPlacement" class="">Type of Placement:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylPlacement" name="{{ data.fieldTable.labels.placementType }}"  value="{{ data.fieldTable.valData.placementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.placementType | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylTicket" class="">Ticket #:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylTicket" name="{{ data.fieldTable.labels.ticketNum }}"  value="{{ data.fieldTable.valData.ticketNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.ticketNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylSampled" class="">Sampled From:</label>
							</div>
							
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylSampled" name="{{ data.fieldTable.labels.sampledFrom }}"  value="{{ data.fieldTable.valData.sampledFrom }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.sampledFrom | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylCement" class="">Cement Type:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylCement" name="{{ data.fieldTable.labels.cementType }}"  value="{{ data.fieldTable.valData.cementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.cementType | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylSupplier" class="">Supplier:</label>
							</div>
							
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylSupplier" name="{{ data.fieldTable.labels.supplier }}"  value="{{ data.fieldTable.valData.supplier }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.supplier | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylMix" class="">Mix ID:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylMix" name="{{ data.fieldTable.labels.mixID }}"  value="{{ data.fieldTable.valData.mixID }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.mixID | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylVolume" class="">Load Volume ({{ data.fieldTable.valData.volumeUnits | volume_units_f }}<sup>3</sup>):</label>
							</div>

							<div class="cylFormData">
							{% if editData %}
								<div class="row align-items-center">
									<div class="col-5">
										<input type="text" maxlength="4" class="form-control" id="cylVolume" name="{{ data.fieldTable.labels.volume }}"  value="{{ data.fieldTable.valData.volume }}" aria-describedby="textDesc">
									</div>
									
									{% for key,value in tables.loadVolumeData.items() %}
									
									<div class="col">
										<input class="form-check-input" type="radio" name="{{ data.fieldTable.labels.volumeUnits }}" id="gridRadios1" value="{{ key }}" {% if key == data.fieldTable.valData.volumeUnits %} checked {% endif %}> 
										<label class="form-check-label" for="gridRadios1">
											{{ value }}<sup>3</sup>
										</label>
									</div>
		
									{% endfor %}
								</div>
								
							{% else %}
								{{ data.fieldTable.valData.volume }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylLoadNum" class="">Load #:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylLoadNum" name="{{ data.fieldTable.labels.loadNum }}"  value="{{ data.fieldTable.valData.loadNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.loadNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylTruckNum" class="cylFormText">Truck #:</label>
							</div>
							
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylTruckNum" name="{{ data.fieldTable.labels.truckNum }}"  value="{{ data.fieldTable.valData.truckNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.truckNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylMouldType" class="cylFormText">Mould Type:</label>
							</div>
								<div class="cylFormData">
								{% if editData %}
									<select class="form-select" name="{{ data.fieldTable.labels.mouldType }}" id="cylMouldType">
									{% for key,value in tables.mouldData.items() %}	
										<option value="{{ key }}" {% if key == data.fieldTable.valData.mouldType %}selected{% endif %}>{{ value }}</option>
									{% endfor %}
									</select>
								{% else %}
									{{ data.fieldTable.valData.mouldType | mould_f }}
								{% endif %}				
							</div>					
						</div>
					</div>
						
				</div>

				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylPONum" class="cylFormText">PO #:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input type="text" class="form-control" id="cylPONum" name="{{ data.fieldTable.labels.poNum }}"  value="{{ data.fieldTable.valData.poNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valData.poNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="cylPONum" class="">SCC:</label>
							</div>
							<div class="cylFormData">
								<div class="row">
									{% if editData %}
											{% for key,value in tables.sccData.items() %}
											<div class="col">
											
												<input class="form-check-input" type="radio" name="{{ data.fieldTable.labels.isScc }}" id="gridRadios{{ value }}" value="{{ key }}" {% if key == data.fieldTable.valData.isScc %} checked {% endif %}> 
												<label class="form-check-label" for="gridRadios{{ value }}">
													{{ value }}
												</label>
											</div>
											{% endfor %}

									{% else %}
									<div class="col">
										{{ data.fieldTable.valData.isScc | scc_f }}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</td>
	</tr>

	</tbody>
	</table>
	
	<br />

	<table class="table table-bordered">
		<tbody>
		<tr>
			<td colspan="2"><b>Date and Time:</b></td>
		
		</tr>
		<tr>
			<td colspan="2">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="row align-items-center mt-3 mb-3">
							<div class="cylFormLabels">
								<label for="cylCastDate" class="cylFormText">Cast Date:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input class="form-control" type="date" name="{{ data.fieldTable.labels.castDate }}" id="cylCastDate" value="{{ data.fieldTable.valData.castDate | strip_time_f }}">
							{% else %}
								{{ data.fieldTable.valData.castDate | strip_time_f }}
							{% endif %}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row align-items-center mt-3 mb-3">
							<div class="cylFormLabels">
								<label for="cylDateTransported" class="cylFormText">Date Transported:</label>
							</div>
							<div class="cylFormData">
							{% if editData %}
								<input class="form-control" type="date" name="{{ data.fieldTable.labels.dateTransported }}" value="{{ data.fieldTable.valData.dateTransported | strip_time_f }}">
							{% else %}
								{{ data.fieldTable.valData.dateTransported | strip_time_f }}
							{% endif %}
							</div>
						</div>
					</div>	
				</div>
			</div>
			</td>
		</tr>

		<tr>

			<td colspan="2">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="row align-items-center mt-3 mb-3">
								<div class="cylFormLabels">
									<label for="cylBatchTime" class="">Batch Time:</label>
								</div>
								<div class="cylFormTime">
								{% if editData %}
									<input type="time" class="form-control " id="cylBatchTime" name="{{ data.fieldTable.labels.batchTime }}"  value="{{ data.fieldTable.valData.batchTime }}" aria-describedby="textDesc">
								{% else %}
									{{ data.fieldTable.valData.batchTime | strip_seconds_f }}
								{% endif %}
								</div>
							</div>
						</div>
					
					</div>
					<div class="row">
						<div class="col">
							<div class="row align-items-center mb-3">
								<div class="cylFormLabels">
									<label for="cylSampleTime" class="">Sample Time:</label>
								</div>
								<div class="cylFormTime">
								{% if editData %}
									<input type="time" class="form-control" id="cylSampleTime" name="{{ data.fieldTable.labels.sampleTime }}"  value="{{ data.fieldTable.valData.sampleTime }}" aria-describedby="textDesc">
								{% else %}
									{{ data.fieldTable.valData.sampleTime | strip_seconds_f }}
								{% endif %}
								</div>
							</div>
						</div>
					</div>
			
					
					<div class="row">
						<div class="col">
							<div class="row align-items-center mb-3">
								<div class="cylFormLabels">
									<label for="cylinderStatus" class="">Cast Time:</label>
								</div>
								<div class="cylFormTime">
								{% if editData %}
									<input type="time" class="form-control" id="cylCastTime" name="{{ data.fieldTable.labels.castTime }}"  value="{{ data.fieldTable.valData.castTime }}" aria-describedby="textDesc">
								{% else %}
									{{ data.fieldTable.valData.castTime | strip_seconds_f }}
								{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		
		</tr>
		
	</tbody>
	</table>

	<br />

	
	<table class="table table-bordered align-middle" id="rootTable">
		<thead>
		<tr>
			<th colspan="3">Strength Target:</th>
		</tr>
	
		{% if editData %}
		<tr>
			<td colspan="3">
				<button type="button" class="btn btn-primary" onclick="STR_FUNCTIONS.addStrTarget()">Add Target</button>
				<button type="button" class="btn btn-primary" onclick="STR_FUNCTIONS.removeStrTarget()">Remove Target</button>
			</td>	
		</tr>
		{% endif %}
	
		<tr class="align-center">
			<th scope="col"></th>
			<th scope="col" class="col-4">Strength (MPa)</th>
			<th scope="col" class="col-4">Days</th>
		</tr>
		</thead>
		
		<tbody id="table-body">	
			{% for row in data.strTable %}
				<tr class="align-center" id="{{ row.name }}">
					<th scope="row">
						<label class="">{{ row.title }}:</label>
					</th>

					<td>
						{% if editData %}
							<input type="number" class="form-control cylStrInput" id="{{ row.name }}" name="{{ row.labels.strength }}"  value="{{ row.valData.strength }}" aria-describedby="textDesc">
						{% else %}
							<div class="">
								{{ row.valData.strength }}
							</div>
						{% endif %}
						
					</td>
					<td>
						{% if editData %}
							<input type="number" class="form-control cylStrInput" id="{{ row.name }}" name="{{ row.labels.days}}"  value="{{ row.valData.days }}" aria-describedby="textDesc">
						{% else %}
							<div class="">
								{{ row.valData.days }}
							</div>	
						{% endif %}			
					
					</td>
		
				</tr>
		

				<input type="hidden" id="{{ row.labels.autoID }}" name="{{ row.labels.autoID }}" value="{{ row.valData.autoID }}">
				<input type="hidden" id="{{ row.labels.visible }}" name="{{ row.labels.visible }}" value="{{ row.valData.visible }}">

		
			{% endfor %}
		

		</tbody>
	
	</table>
	
	<br />
	

	<div class="table-responsive">
	<table class="table table-bordered align-middle">
		<thead>
			<tr>
				<th colspan="5">Measurements:</td>
			</tr>

			<tr class="align-center">
				<th scope="col" class="cylConditionsLabel"></th>
				<th scope="col">Actual</th>
				<th scope="col">Min</th>
				<th scope="col">Max</th>
				<th scope="col">Notes</th>
			</tr>
		</thead>
		
		<tbody>	
		
		{% for row in data.conditionsTable %}

			<tr class="align-center" id="{{ row.name }}Row">

					<th scope="row">{{ row.title | safe }}</th>
				
				{% if editData %}
					
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.actual }}" name="{{ row.labels.actual }}"  value="{{ row.valData.actual }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.min }}" name="{{ row.labels.min }}"  value="{{ row.valData.min }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.max }}" name="{{ row.labels.max }}"  value="{{ row.valData.max }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="1000" class="form-control cylConditionsNotesText" id="{{ row.labels.notes }}" name="{{ row.labels.notes }}"  value="{{ row.valData.notes }}" aria-describedby="textDesc"></td>
					<input type="hidden" name="{{ row.labels.autoID }}" value="{{ row.valData.autoID }}">

				{% else %}
					

					<td>{{ row.valData.actual | measurements_f }}</td>
					<td>{{ row.valData.min | measurements_f }}</td>
					<td>{{ row.valData.max | measurements_f }}</td>
					<td class="align-left">{{ row.valData.notes }}</td>
		
					
				{% endif %}
				

			</tr>

		{% endfor %}

	</table>		
	</div>

	
	
	<div class="table-responsive">
		<table class="table table-bordered align-middle">
			<thead>
				<tr>
					<th colspan="14">Cylinder Data:</th>
				</tr>
			
			
			</thead>
			<tbody>	
			<tr class="align-center">
				<th scope="col" class="itemIDCol">Specimen ID</th>
				<th scope="col" class="itemsDateCol">Date Received</th>
				<th scope="col" class="itemsDateCol">Date Tested</th>
				<th scope="col" class="itemsSmallCol">Age (Days)</th>
				<th scope="col" class="itemsSmallCol">Diameter (mm)</th>
				<th scope="col" class="itemsSmallCol">Length (mm)</th>
				<th scope="col" class="itemsSmallCol-2">Area (mm<sup>2</sup>)</th>
				<th scope="col" class="itemsSmallCol-3">Weight (g)</th>
				<th scope="col" class="itemsSmallCol-3">Strength (Mpa)</th>
				<th scope="col" class="itemsSmallCol">Break Type</th>
				<th scope="col" class="itemsSmallCol">Required Strength</th>
				<th scope="col" class="itemsSmallCol">% of Required</th>
				<th scope="col" class="itemsSmallCol">Tech Initial</th>
				
			</tr>
			
			
			{% for row in data.cylItemsTable %}


			<tr class="align-center" id="{{ row.name }}Row">

				{% if editData %}
					
					<td><input type="text" maxlength="16" class="form-control" id="{{ row.labels.itemID }}" name="{{ row.labels.itemID }}" value="{{ row.valData.itemID }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control" id="{{ row.labels.dateReceived }}" name="{{ row.labels.dateReceived }}" value="{{ row.valData.dateReceived }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control" id="{{ row.labels.dateTested }}" name="{{ row.labels.dateTested }}" value="{{ row.valData.dateTested }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.age }}" name="{{ row.labels.age }}" value="{{ row.valData.age }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.diameter }}" name="{{ row.labels.diameter }}" value="{{ row.valData.diameter }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.length }}" name="{{ row.labels.length }}" value="{{ row.valData.length }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="5" class="form-control" id="{{ row.labels.area }}" name="{{ row.labels.area }}" value="{{ row.valData.area }}" aria-describedby="textDesc" disabled></td>
					<td><input type="text" maxlength="6" class="form-control" id="{{ row.labels.weight }}" name="{{ row.labels.weight }}" value="{{ row.valData.weight }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="6" class="form-control" id="{{ row.labels.strength }}" name="{{ row.labels.strength }}" value="{{ row.valData.strength }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="1" class="form-control" id="{{ row.labels.breakType }}" name="{{ row.labels.breakType }}" value="{{ row.valData.breakType }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="4" class="form-control" id="{{ row.labels.requiredStrength }}" name="{{ row.labels.requiredStrength }}" value="{{ row.valData.requiredStrength }}" aria-describedby="textDesc" disabled></td>
					<td><input type="text" maxlength="4" class="form-control" id="{{ row.labels.percentStrength }}" name="{{ row.labels.percentStrength }}" value="{{ row.valData.percentStrength }}" aria-describedby="textDesc" disabled></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.initials }}" name="{{ row.labels.initials }}" value="{{ row.valData.initials }}" aria-describedby="textDesc"></td>
					
					
					
					<input type="hidden" name="{{ row.labels.autoID }}" value="{{ row.valData.autoID }}">

				{% else %}
					
	
					<td>{{ row.valData.itemID }}</td>
					<td>{{ row.valData.dateReceived | strip_time_f }}</td>
					<td>{{ row.valData.dateTested | strip_time_f }}</td>
					<td>{{ row.valData.age }}</td>
					<td>{{ row.valData.diameter }}</td>
					<td>{{ row.valData.length }}</td>
					<td>{{ row.valData.area }}</td>
					<td>{{ row.valData.weight }}</td>
					<td>{{ row.valData.strength }}</td>
					<td>{{ row.valData.breakType }}</td>
					<td>{{ row.valData.requiredStrength }}</td>
					<td>{{ row.valData.percentStrength }}%</td>
					<td>{{ row.valData.initials }}</td>
					
				{% endif %}
				

			</tr>

			{% endfor %}

		</table>		
	</div>
	
		
	<table class="table table-bordered">
		<tbody>	
			<tr class="align-middle">
				<td>Notes:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                        <textarea name="cylNotes" id="cylNotes" class="form-control" rows="3" placeholder="">{{ data.fieldTable.valData.notes|e }}</textarea>
                      </div>
				{% else %}
					{{ data.fieldTable.valData.notes|e }}
				{% endif %}
				</td>
				
			</tr>
			<tr class="align-middle">
				<td>Files:</td>
				<td>
				{% if editData %}
					<div class="form-group">
                       
                      </div>
				{% else %}

				{% endif %}
				</td>
				
			</tr>
			
			<tr class="align-middle">
				<td>Status:</td>
				<td>
				{% if editData %}
						<select class="form-select cylFormData" name="cylStatus" id="cylStatus">
						{% for key,value in tables.statusData.items() %}	
							<option value="{{ key }}" {% if key == data.fieldTable.valData.status %}selected{% endif %}>{{ value }}</option>
						{% endfor %}
						</select>
				{% else %}
					{{ data.fieldTable.valData.status | project_status_f }}
				{% endif %}
				</td>
			
			</tr>
			<tr class="align-middle">
				<td>Created by:</td>
				<td>{{ data.fieldTable.valData.createdBy | e }}</td>
			</tr>
			<tr class="align-middle">
				<td>Date Created:</td>
				<td> {{ data.fieldTable.valData.dateCreated | date_created_f }} </td>
			</tr>


		</tbody>
	</table>


	<br />
	
	{% if editData %}
		<button type="submit" class="btn btn-primary" form="cylReportForm">Save</button> 
		{% if newCylinder %}
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.cylinders') }}'">Cancel</button> 
		
		{% else %}
		
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.view_cylinder', cylinder_id = data.fieldTable.valData.cylinderID) }}'">Cancel</button> 
		
		{% endif %}

	{% else %}
		<a href="{{ url_for('cylinders_bp.view_cylinder', cylinder_id=data.fieldTable.valData.cylinderID, edit=True) }}"><button type="button" class="btn btn-primary">Edit Cylinder</button></a>
		<div style="float:right"><a href="{{ url_for('cylinders_bp.confirm_delete', cylinder_id=data.fieldTable.valData.cylinderID) }}"><button type="button" class="btn btn-danger">Delete</button></a></div>
	{% endif %}


	</div>

</div>

{% if editData %}
	</form>
{% endif %}

	<script>
		//Jsonify the data passed through Flask for the cyl_from.js script
        const conditions_table_json = {{ data.conditionsTable | tojson }};
		const cyl_editing_json = {{ editData | tojson }};
		const cyl_isSCC_json = {{ data.fieldTable.valData.isScc | tojson }};
		const strength_table_json = {{ data.strTable | tojson }}
    </script>

	 <script src="{{ url_for('static', filename='js/cyl_form.js') }}"></script> 

{% endblock %}