{% extends "index.html" %}
 
{% block content %}


{% if pageData.editing %}


	{% if pageData.newCylinder %}
		<form action="{{ url_for('cylinders_bp.submit_cylinder') }}" method="POST" id="cylReportForm">		
	{% else %}
		<form action="{{ url_for('cylinders_bp.update_cylinder') }}" method="POST" id="cylReportForm">
	{% endif %}
		<input type="hidden" name="cylinderID" value="{{ data.id }}">
		<input type="hidden" name="{{ data.fieldTable.labels.cylinderID }}" value="{{ data.fieldTable.valueData.cylinderID }}">

		<input type="hidden" name="newCylinder" value="{{ pageData.newCylinder }}">
		<input type="hidden" name="{{ data.fieldTable.labels.createdBy }}" value="{{ data.fieldTable.valueData.createdBy }}">
		<input type="hidden" name="{{ data.fieldTable.labels.dateCreated }}" value="{{ data.fieldTable.valueData.dateCreated }}">
		

		
		
{% endif %}

<div class="card card-primary card-outline mb-4 view_cylinder">
	<div class="card-header">
		<div class="card-title">

			{% if pageData.editing %}
				<input type="text" class="form-control" id="cylTitle" name="{{ data.fieldTable.labels.reportTitle }}" size="60" value="{{ data.fieldTable.valueData.reportTitle }}" aria-describedby="textDesc">
			{% else %}
				{{ data.fieldTable.valueData.reportTitle | e }}
			{% endif %}
			

		</div>
	</div>
	
	
<div class="card-body">



	<table class="table table-bordered">


	<tbody>
		<tr>
			<td><b>Mix and Field Data:</b></td>
		</tr>
		<tr>
			<td>
				<div class="container">
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.projectName }}" class="">Project:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" maxlength="50" class="form-control" id="{{ data.fieldTable.labels.projectName }}" name="{{ data.fieldTable.labels.projectName }}"  value="{{ data.fieldTable.valueData.projectName }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.projectName | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.contractor }}" class="">Contractor:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.contractor }}" name="{{ data.fieldTable.labels.contractor }}"  value="{{ data.fieldTable.valueData.contractor }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.contractor | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>


				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.placementType }}" class="">Type of Placement:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.placementType }}" name="{{ data.fieldTable.labels.placementType }}"  value="{{ data.fieldTable.valueData.placementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.placementType | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.ticketNum }}" class="">Ticket #:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.ticketNum }}" name="{{ data.fieldTable.labels.ticketNum }}"  value="{{ data.fieldTable.valueData.ticketNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.ticketNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.sampledFrom }}">Sampled From:</label>
							</div>
							
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.sampledFrom }}" name="{{ data.fieldTable.labels.sampledFrom }}"  value="{{ data.fieldTable.valueData.sampledFrom }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.sampledFrom | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.cementType }}" class="">Cement Type:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.cementType }}" name="{{ data.fieldTable.labels.cementType }}"  value="{{ data.fieldTable.valueData.cementType }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.cementType | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.supplier }}" class="">Supplier:</label>
							</div>
							
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.supplier }}" name="{{ data.fieldTable.labels.supplier }}"  value="{{ data.fieldTable.valueData.supplier }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.supplier | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.mixID }}" class="">Mix ID:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.mixID }}" name="{{ data.fieldTable.labels.mixID }}"  value="{{ data.fieldTable.valueData.mixID }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.mixID | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.volume }}" class="">Load Volume ({{ data.fieldTable.valueData.volumeUnits | volume_units_f }}<sup>3</sup>):</label>
							</div>

							<div class="cylFormData">
							{% if pageData.editing %}
								<div class="row align-items-center">
									<div class="col-5">
										<input type="text" maxlength="4" class="form-control" id="{{ data.fieldTable.labels.volume }}" name="{{ data.fieldTable.labels.volume }}"  value="{{ data.fieldTable.valueData.volume }}" aria-describedby="textDesc">
									</div>
									
									{% for key,value in tables.loadVolumeData.items() %}
									
									<div class="col">
										<input class="form-check-input" type="radio" name="{{ data.fieldTable.labels.volumeUnits }}" value="{{ key }}" {% if key == data.fieldTable.valueData.volumeUnits %} checked {% endif %}> 
										<label class="form-check-label">
											{{ value }}<sup>3</sup>
										</label>
									</div>
		
									{% endfor %}
								</div>
								
							{% else %}
								{{ data.fieldTable.valueData.volume }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.loadNum }}" class="">Load #:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="cylLoadNum" name="{{ data.fieldTable.labels.loadNum }}"  value="{{ data.fieldTable.valueData.loadNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.loadNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
				</div>
				
				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.truckNum }}" class="">Truck #:</label>
							</div>
							
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.truckNum }}" name="{{ data.fieldTable.labels.truckNum }}"  value="{{ data.fieldTable.valueData.truckNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.truckNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
						
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.mouldType }}" class="">Mould Type:</label>
							</div>
								<div class="cylFormData">
								{% if pageData.editing %}
									<select class="form-select" name="{{ data.fieldTable.labels.mouldType }}" id="{{ data.fieldTable.labels.mouldType }}">
									{% for key,value in tables.mouldData.items() %}	
										<option value="{{ key }}" {% if key == data.fieldTable.valueData.mouldType %}selected{% endif %}>{{ value }}</option>
									{% endfor %}
									</select>
								{% else %}
									{{ data.fieldTable.valueData.mouldType | mould_f }}
								{% endif %}				
							</div>					
						</div>
					</div>
						
				</div>

				<div class="row">
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label for="{{ data.fieldTable.labels.poNum }}">PO #:</label>
							</div>
							<div class="cylFormData">
							{% if pageData.editing %}
								<input type="text" class="form-control" id="{{ data.fieldTable.labels.poNum }}" name="{{ data.fieldTable.labels.poNum }}"  value="{{ data.fieldTable.valueData.poNum }}" aria-describedby="textDesc">
							{% else %}
								{{ data.fieldTable.valueData.poNum | e }}
							{% endif %}
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="row align-items-center mb-3">
							<div class="cylFormLabels">
								<label>SCC:</label>
							</div>
							<div class="cylFormData">
								<div class="row">
									{% if pageData.editing %}
											{% for key,value in tables.sccData.items() %}
											<div class="col">
											
												<input class="form-check-input" type="radio" name="{{ data.fieldTable.labels.isScc }}" id="gridRadios{{ value }}" value="{{ key }}" {% if key == data.fieldTable.valueData.isScc %} checked {% endif %}> 
												<label class="form-check-label" for="gridRadios{{ value }}">
													{{ value }}
												</label>
											</div>
											{% endfor %}

									{% else %}
									<div class="col">
										{{ data.fieldTable.valueData.isScc | scc_f }}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</td>
	</tr>

	</tbody>
	</table>
	
	<br />

	<table class="table table-bordered">
		<tbody>
		<tr>
			<td colspan="2"><b>Date and Time:</b></td>
		
		</tr>
		<tr>
			<td colspan="2">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="row align-items-center mt-3 mb-3">
							<div class="cylFormLabels">
								<label for="cylCastDate" class="">Cast Date:</label>
							</div>
							<div class="cylFormDate">
							{% if pageData.editing %}
								<input class="form-control" type="date" name="{{ data.fieldTable.labels.castDate }}" id="cylCastDate" value="{{ data.fieldTable.valueData.castDate | strip_time_f }}">
							{% else %}
								{{ data.fieldTable.valueData.castDate | strip_time_f }}
							{% endif %}
							</div>
						</div>
					</div>
						<div class="col">
							<div class="row align-items-center mt-3 mb-3">
								<div class="cylFormLabels">
									<label for="cylDateTransported" class="">Date Transported:</label>
								</div>
								<div class="cylFormDate">
								{% if pageData.editing %}
									<input class="form-control" type="date" name="{{ data.fieldTable.labels.dateTransported }}" value="{{ data.fieldTable.valueData.dateTransported | strip_time_f }}" id="{{ data.fieldTable.labels.dateTransported }}">
								{% else %}
									{{ data.fieldTable.valueData.dateTransported | strip_time_f }}
								{% endif %}
								</div>
							</div>
						</div>
	
				</div>
			</div>
			</td>
		</tr>

		<tr>

			<td colspan="2">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="row align-items-center mt-3 mb-3">
								<div class="cylFormLabels">
									<label for="cylBatchTime" class="">Batch Time:</label>
								</div>
								<div class="cylFormTime">
								{% if pageData.editing %}
									<input type="time" class="form-control " id="cylBatchTime" name="{{ data.fieldTable.labels.batchTime }}"  value="{{ data.fieldTable.valueData.batchTime }}" aria-describedby="textDesc">
								{% else %}
									{{ data.fieldTable.valueData.batchTime | strip_seconds_f }}
								{% endif %}
								</div>
							</div>
						</div>
					
					</div>
					<div class="row">
						<div class="col">
							<div class="row align-items-center mb-3">
								<div class="cylFormLabels">
									<label for="{{ data.fieldTable.labels.sampleTime }}">Sample Time:</label>
								</div>
								<div class="cylFormTime">
								{% if pageData.editing %}
									<input type="time" class="form-control" id="{{ data.fieldTable.labels.sampleTime }}" name="{{ data.fieldTable.labels.sampleTime }}"  value="{{ data.fieldTable.valueData.sampleTime }}" aria-describedby="textDesc">
								{% else %}
									{{ data.fieldTable.valueData.sampleTime | strip_seconds_f }}
								{% endif %}
								</div>
							</div>
						</div>
					</div>
			
					
					<div class="row">
						<div class="col">
							<div class="row align-items-center mb-3">
								<div class="cylFormLabels">
									<label for="{{ data.fieldTable.labels.castTime }}">Cast Time:</label>
								</div>
								<div class="cylFormTime">
								{% if pageData.editing %}
									<input type="time" class="form-control" id="{{ data.fieldTable.labels.castTime }}" name="{{ data.fieldTable.labels.castTime }}"  value="{{ data.fieldTable.valueData.castTime }}" aria-describedby="textDesc">
								{% else %}
									{{ data.fieldTable.valueData.castTime | strip_seconds_f }}
								{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		
		</tr>
		
	</tbody>
	</table>

	<br />

	
	<table class="table table-bordered align-middle" id="rootTable">
		<thead>
		<tr>
			<th colspan="3">Strength Target:</th>
		</tr>
	
		{% if pageData.editing %}
		<tr>
			<td colspan="3">
				<button type="button" class="btn btn-primary" onclick="STR_FUNCTIONS.addStrTarget()">Add Target</button>
				<button type="button" class="btn btn-primary" onclick="STR_FUNCTIONS.removeStrTarget()">Remove Target</button>
			</td>	
		</tr>
		{% endif %}
	
		<tr class="align-center">
			<th scope="col"></th>
			<th scope="col" class="col-4">Strength (MPa)</th>
			<th scope="col" class="col-4">Days</th>
		</tr>
		</thead>
		
		<tbody id="table-body">	
			{% for row in data.strTable %}
				<tr class="align-center" id="{{ row.name }}">
					<th scope="row">
						<label class="">{{ row.title }}:</label>
					</th>

					<td>
						{% if pageData.editing %}
							<input type="number" class="form-control cylStrInput" id="{{ row.dataFields.strength.label }}" name="{{ row.dataFields.strength.label }}"  value="{{ row.dataFields.strength.val }}" aria-describedby="textDesc">
							<div class="form-text error-msg" id="{{ row.dataFields.strength.errorLabel }}"> 
							
							</div>
						{% else %}
							<div class="">
								{{ row.dataFields.strength.val }}
							</div>
						{% endif %}
						
					</td>
					<td>
						{% if pageData.editing %}
							<input type="number" class="form-control cylStrInput" id="{{ row.dataFields.days.label }}" name="{{ row.dataFields.days.label }}"  value="{{ row.dataFields.days.val }}" aria-describedby="textDesc">
						{% else %}
							<div class="">
								{{ row.dataFields.days.val }}
							</div>	
						{% endif %}			
					
					</td>
		
				</tr>
		

				<input type="hidden" id="{{ row.dataFields.autoID.label }}" name="{{ row.dataFields.autoID.label }}" value="{{ row.dataFields.autoID.val }}">
				<input type="hidden" id="{{ row.dataFields.visible.label }}" name="{{ row.dataFields.visible.label }}" value="{{ row.dataFields.visible.val }}">

		
			{% endfor %}
		

		</tbody>
	</table>
	<br />	

	<div class="table-responsive">
	<table class="table table-bordered align-middle">
		<thead>
			<tr>
				<th colspan="5">Measurements:</td>
			</tr>

			<tr class="align-center">
				<th scope="col" class="cylConditionsLabel"></th>
				<th scope="col">Actual</th>
				<th scope="col">Min</th>
				<th scope="col">Max</th>
				<th scope="col">Notes</th>
			</tr>
		</thead>
		
		<tbody>	
		
		{% for row in data.conditionsTable %}

			<tr class="align-center" id="{{ row.name }}Row">

					<th scope="row">{{ row.title | safe }}</th>
				
				{% if pageData.editing %}
					
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.actual }}" name="{{ row.labels.actual }}"  value="{{ row.valueData.actual }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.min }}" name="{{ row.labels.min }}"  value="{{ row.valueData.min }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control cylConditionsData" id="{{ row.labels.max }}" name="{{ row.labels.max }}"  value="{{ row.valueData.max }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="1000" class="form-control cylConditionsNotesText" id="{{ row.labels.notes }}" name="{{ row.labels.notes }}"  value="{{ row.valueData.notes }}" aria-describedby="textDesc"></td>
					<input type="hidden" name="{{ row.labels.autoID }}" value="{{ row.valueData.autoID }}">

				{% else %}
					
					<td>{{ row.valueData.actual | measurements_f }}</td>
					<td>{{ row.valueData.min | measurements_f }}</td>
					<td>{{ row.valueData.max | measurements_f }}</td>
					<td class="align-left">{{ row.valueData.notes }}</td>
					
				{% endif %}
				
			</tr>

		{% endfor %}

	</table>		
	</div>

	
	
	{% if pageData.editing %}
	<table class="table table-bordered align-middle">
		<thead>
			<tr>
				<th colspan="">Add Cylinders:</th>
			</tr>

		</thead>
		<tr>
			<th>
				<div class="container">
				
		
			
					<div class="row align-items-center mt-3 mb-3">
		
						<div class="cylFormLabels">
							<label for="" class=""># of Cylinders:</label>
						</div>
						<div class="cylFormDate">
							<input maxlength="2" type="text" class="form-control" name="numItemsIn" id="numItemsIn">
							<div class="form-text error-msg" id="numItemsErrorMsg"></div>
						</div>
					</div>	
					
					<hr>
					
					<div class="row align-items-center mt-3 mb-3">
						<div class="" style="">
							<label for="" class="underline">Specimen ID</label>
						</div>
					</div>
					
						
					<div class="row align-items-center mt-3 mb-3">

						<div class="cylFormLabels">
							<label for="" class="">Tech Initials:</label>
						</div>
							
						<div class="cylFormDate">
								<input maxlength="20" type="text" class="form-control" name="itemsInitialsIn" id="itemsInitialsIn" value="">
								<div class="form-text error-msg" id="itemsInitialsErrorMsg"></div>
						</div>


					</div>
					
					<div class="row align-items-center mt-3 mb-3">

						<div class="cylFormLabels">
							<label for="" class="">ID Date:</label>
						</div>
					
						<div class="cylFormDate">
							<input class="form-control" type="date" name="{{ data.fieldTable.labels.dateSpecimen }}" value="{{ data.fieldTable.valueData.dateSpecimen | strip_time_f }}" id="{{ data.fieldTable.labels.dateSpecimen }}">
							<div class="form-text error-msg" id="itemsDateSpecimenErr"></div>

						</div>
					
						<div class="cylFormData"> 
							<input class="form-check-input" type="checkbox" id="{{ data.fieldTable.labels.dateSpecimenEqual }}" name="{{ data.fieldTable.labels.dateSpecimenEqual }}"  {{ data.fieldTable.valueData.dateSpecimenEqual }}> 
							<label class="form-check-label normal-text" for="{{ data.fieldTable.labels.dateSpecimenEqual }}">Same as Cast Date</label>
						</div>
					
					</div>
					<div class="row align-items-center mt-3 mb-3">
						<div class="cylFormLabels">
							<label for="" class="">Separator:</label>
						</div>
						<div class="cylFormDate">
							<select class="form-select" name="" id="itemsSeparatorSelect">
								{% for key,val in tables.separatorData.items() %}
									<option value="{{key}}">{{val}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					
					<div class="row align-items-center mt-3 mb-3">
						<div class="cylFormLabels">
							<label for="" class="">Set:</label>
						</div>
						<div class="cylFormDate">
							<select class="form-select" name="" id="itemsSetSelect">
								{% for key,val in tables.setData.items() %}
									<option value="{{key}}">{{val}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					
					<div class="row align-items-center mt-3 mb-3">
						<div class="cylFormLabels">
							<label for="" class="">Custom ID:</label>
						</div>
						<div class="cylFormDate">
								<input maxlength="20" type="text" class="form-control" name="itemsCustomID" id="itemsCustomID" value="">
								<div class="form-text error-msg" id="itemsCustomIDErr"></div>
						</div>
						<div class="cylFormData"> 
							<input class="form-check-input" type="checkbox" id="customIDCheck" name=""> 
							<label class="form-check-label normal-text" for="">Use Custom ID</label>
						</div>

					</div>
				
					<div class="row align-items-center mt-3 mb-3">
						<div class="cylFormLabels">
							<label for="" class="">Example Output:</label>
						</div>
						<div class="cylFormDate" id="itemsExampleID"></div>
					</div>
					
					<hr>
					
					<div class="row align-items-center mt-3 mb-3">
						<div class="cylFormLabels">
							<label for="cylDateTransported" class="">Date Received:</label>
						</div>
						
						<div class="cylFormDate">
							<input class="form-control" type="date" name="{{ data.fieldTable.labels.dateReceived }}" value="{{ data.fieldTable.valueData.dateReceived | strip_time_f }}" id="{{ data.fieldTable.labels.dateReceived }}">
							<div class="form-text error-msg" id="itemsDateReceivedErr"></div>
						</div>
						
						<div class="cylFormData"> 
							<input class="form-check-input" type="checkbox" id="{{ data.fieldTable.labels.dateReceivedEqual }}" name="{{ data.fieldTable.labels.dateReceivedEqual }}"  {{ data.fieldTable.valueData.dateReceivedEqual }}> 
							<label class="form-check-label normal-text" for="{{ data.fieldTable.labels.dateReceivedEqual }}">Same as Transported Date</label>
						</div>
					</div>
					
					<div class="row align-items-center mt-3 mb-3">

						<div class="cylFormLabels">
							<label for="" class="">Break Schedule:</label>
						</div>
							
						<div class="cylFormDate">
							<select class="form-select" name="{{ data.fieldTable.labels.mouldType }}" id="{{ data.fieldTable.labels.mouldType }}">
								<option value="{{ key }}" {% if key == data.fieldTable.valueData.mouldType %}selected{% endif %}>{{ value }}</option>
							</select>
						</div>

					</div>
	

				</div>
					
				
					<button type="button" class="btn btn-primary" onclick="" id="btnAddItems" disabled>Add Cylinders</button>
		
			</th>	
		
		
		</tr>
	</table>
	{% endif %}

	
	
	<div class="table-responsive">
		<table class="table table-bordered align-middle" id="cylItemsTable">
			<thead>
				<tr>
					<th colspan="14">Cylinder Data:</th>
				</tr>
			
			</thead>
			
			<tbody>
			<tr class="align-center">
				<th scope="col" class="itemIDCol">Specimen ID</th>
				<th scope="col" class="itemsDateCol">Date Received</th>
				<th scope="col" class="itemsDateCol">Date Tested</th>
				<th scope="col" class="itemsSmallCol">Age (Days)</th>
				<th scope="col" class="itemsSmallCol">Diameter (mm)</th>
				<th scope="col" class="itemsSmallCol">Length (mm)</th>
				<th scope="col" class="itemsSmallCol-2">Area (mm<sup>2</sup>)</th>
				<th scope="col" class="itemsSmallCol-3">Weight (g)</th>
				<th scope="col" class="itemsSmallCol-3">Strength (Mpa)</th>
				<th scope="col" class="itemsSmallCol">Break Type</th>
				<th scope="col" class="itemsSmallCol">Required Strength</th>
				<th scope="col" class="itemsSmallCol">% of Required</th>
				<th scope="col" class="itemsSmallCol">Tech Initial</th>
				
			</tr>
			
			
			{% for row in data.cylItemsTable %}


			<tr class="align-center" id="">

				{% if pageData.editing %}
					<!--
					<td><input type="text" maxlength="16" class="form-control" id="{{ row.labels.itemID }}" name="{{ row.labels.itemID }}" value="{{ row.valueData.itemID }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control" id="{{ row.labels.dateReceived }}" name="{{ row.labels.dateReceived }}" value="{{ row.valueData.dateReceived }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="8" class="form-control" id="{{ row.labels.dateTested }}" name="{{ row.labels.dateTested }}" value="{{ row.valueData.dateTested }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.age }}" name="{{ row.labels.age }}" value="{{ row.valueData.age }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.diameter }}" name="{{ row.labels.diameter }}" value="{{ row.valueData.diameter }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.length }}" name="{{ row.labels.length }}" value="{{ row.valueData.length }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="5" class="form-control" id="{{ row.labels.area }}" name="{{ row.labels.area }}" value="{{ row.valueData.area }}" aria-describedby="textDesc" disabled></td>
					<td><input type="text" maxlength="6" class="form-control" id="{{ row.labels.weight }}" name="{{ row.labels.weight }}" value="{{ row.valueData.weight }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="6" class="form-control" id="{{ row.labels.strength }}" name="{{ row.labels.strength }}" value="{{ row.valueData.strength }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="1" class="form-control" id="{{ row.labels.breakType }}" name="{{ row.labels.breakType }}" value="{{ row.valueData.breakType }}" aria-describedby="textDesc"></td>
					<td><input type="text" maxlength="4" class="form-control" id="{{ row.labels.requiredStrength }}" name="{{ row.labels.requiredStrength }}" value="{{ row.valueData.requiredStrength }}" aria-describedby="textDesc" disabled></td>
					<td><input type="text" maxlength="4" class="form-control" id="{{ row.labels.percentStrength }}" name="{{ row.labels.percentStrength }}" value="{{ row.valueData.percentStrength }}" aria-describedby="textDesc" disabled></td>
					<td><input type="text" maxlength="3" class="form-control" id="{{ row.labels.initials }}" name="{{ row.labels.initials }}" value="{{ row.valueData.initials }}" aria-describedby="textDesc"></td>
					-->
					
					
					<input type="hidden" name="{{ row.labels.autoID }}" value="{{ row.valueData.autoID }}">

				{% else %}
					
	
					<td>{{ row.valueData.itemID }}</td>
					<td>{{ row.valueData.dateReceived | strip_time_f }}</td>
					<td>{{ row.valueData.dateTested | strip_time_f }}</td>
					<td>{{ row.valueData.age }}</td>
					<td>{{ row.valueData.diameter }}</td>
					<td>{{ row.valueData.length }}</td>
					<td>{{ row.valueData.area }}</td>
					<td>{{ row.valueData.weight }}</td>
					<td>{{ row.valueData.strength }}</td>
					<td>{{ row.valueData.breakType }}</td>
					<td>{{ row.valueData.requiredStrength }}</td>
					<td>{{ row.valueData.percentStrength }}%</td>
					<td>{{ row.valueData.initials }}</td>
					
				{% endif %}
				

			</tr>

			{% endfor %}

		</table>		
	</div>
	
		
	<table class="table table-bordered">
		<tbody>	
			<tr class="align-middle">
				<td>Notes:</td>
				<td>
				{% if pageData.editing %}
					<div class="form-group">
                        <textarea name="cylNotes" id="cylNotes" class="form-control" rows="3" placeholder="">{{ data.fieldTable.valueData.notes|e }}</textarea>
                      </div>
				{% else %}
					{{ data.fieldTable.valueData.notes|e }}
				{% endif %}
				</td>
				
			</tr>
			<tr class="align-middle">
				<td>Files:</td>
				<td>
				{% if pageData.editing %}
					<div class="form-group">
                       
                      </div>
				{% else %}

				{% endif %}
				</td>
				
			</tr>
			
			<tr class="align-middle">
				<td>Status:</td>
				<td>
				{% if pageData.editing %}
						<select class="form-select cylFormData" name="cylStatus" id="cylStatus">
						{% for key,value in tables.statusData.items() %}	
							<option value="{{ key }}" {% if key == data.fieldTable.valueData.status %}selected{% endif %}>{{ value }}</option>
						{% endfor %}
						</select>
				{% else %}
					{{ data.fieldTable.valueData.status | project_status_f }}
				{% endif %}
				</td>
			
			</tr>
			<tr class="align-middle">
				<td>Created by:</td>
				<td>{{ data.fieldTable.valueData.createdBy | e }}</td>
			</tr>
			<tr class="align-middle">
				<td>Date Created:</td>
				<td> {{ data.fieldTable.valueData.dateCreated | date_created_f }} </td>
			</tr>


		</tbody>
	</table>


	<br />
	
	{% if pageData.editing %}
		<button type="submit" class="btn btn-primary" form="cylReportForm">Save</button> 
		{% if pageData.newCylinder %}
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.cylinders') }}'">Cancel</button> 
		
		{% else %}
		
			<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cylinders_bp.view_cylinder', cylinder_id = data.fieldTable.valueData.cylinderID) }}'">Cancel</button> 
		
		{% endif %}

	{% else %}
		<a href="{{ url_for('cylinders_bp.view_cylinder', cylinder_id=data.fieldTable.valueData.cylinderID, edit=True) }}"><button type="button" class="btn btn-primary">Edit Cylinder</button></a>
		<div style="float:right"><a href="{{ url_for('cylinders_bp.confirm_delete', cylinder_id=data.fieldTable.valueData.cylinderID) }}"><button type="button" class="btn btn-danger">Delete</button></a></div>
	{% endif %}


	</div>

</div>

{% if pageData.editing %}
	</form>
{% endif %}

	<script>
		//Jsonify the data passed through Flask for the cyl_from.js script
		const cyl_editing_json = {{ pageData.editing | tojson }};
		const cyl_data_json = {{ data | tojson}};
    </script>


	{% if pageData.editing %}
		<script src="{{ url_for('static', filename='js/cyl_form.js') }}"></script> 
	{% endif %}

{% endblock %}