
<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Today's Items</h3>
		<div class="card-tools"> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a> </div>
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>Item</th>
					<th>Type</th>
					<th>Date Received</th>
					<th>Tested Date</th>
					<th>Age</th>
					<th>Project</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <img src="{{ url_for('static', filename='images/default-150x150.png') }}" alt="Product 1" class="rounded-circle img-size-32 me-2">
						<a href="#" class="text-secondary">Kd1123A-2 </a>
					</td>
					<td>Cylinder</td>
					<td>2024-11-23</td>
					<td>2024-11-30</td>
					<td>7 days</td>
					<td> <a href="#" class="text-secondary"> 2024-10-01 Hipperson Z15 FWIS </a> </td>
					<td>C6-2</td>
				</tr>
				<tr>
					<td> <img src="{{ url_for('static', filename='images/default-150x150.png') }}" alt="Product 1" class="rounded-circle img-size-32 me-2">
						<a href="#" class="text-secondary">Kd1123A-3</a>
					</td>
					<td>Cylinder</td>
					<td>2024-11-23</td>
					<td>2024-11-30</td>
					<td>7 days</td>
					<td> <a href="#" class="text-secondary"> 2024-10-01 Hipperson Z15 FWIS </a> </td>
					<td>C7-2</td>
				</tr>
				
				<tr>
					<td> <img src="{{ url_for('static', filename='images/default-150x150.png') }}" alt="Product 1" class="rounded-circle img-size-32 me-2">
						<a href="#" class="text-secondary">KO1103A-1</a>
					</td>
					<td>Cylinder</td>
					<td>2024-11-12</td>
					<td>2024-11-13</td>
					<td>1 day</td>
					<td> <a href="#" class="text-secondary"> 2024-10-04 CopperRidge RAC Pile Caps </a> </td>
					<td>B1-1</td>
				</tr>
				
				<tr>
					<td> <img src="{{ url_for('static', filename='images/default-150x150.png') }}" alt="Product 1" class="rounded-circle img-size-32 me-2">
						<a href="#" class="text-secondary">K00912-7</a>
					</td>
					<td>Epoxy</td>
					<td>2024-11-12</td>
					<td>2024-11-26</td>
					<td>14 days</td>
					<td> <a href="#" class="text-secondary"> 2024-10-11 TTES Powell Fowler Hyundai </a> </td>
					<td>-</td>
				</tr>
				
				
			</tbody>
		</table>
	</div>
</div>



<div class="card mb-4">
	<div class="card-header">
			<h3 class="card-title">Google Calendar</h3>
			<div class="card-tools"> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-download"></i> </a> <a href="#" class="btn btn-tool btn-sm"> <i class="bi bi-list"></i> </a> </div>
		</div>
		
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FRegina&showPrint=0&src=bGFiLnNjaXNzb3JzY3JlZWt0ZXN0aW5nQGdtYWlsLmNvbQ&color=%23B39DDB" style="border-width:0" width="auto" height="600" frameborder="0" scrolling="no"></iframe>
</div>