
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> 
	<!--begin::Sidebar Brand-->
	<div class="sidebar-brand"> 
	
		<!--begin::Brand Link--> 
		<a href="{{ url_for('home') }}" class="brand-link"> 
			
			<!--begin::Brand Image--> 
			<img src="{{ url_for('static', filename='images/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> 
			<!--end::Brand Image--> 
		
		<!--begin::Brand Text--> 
		<span class="brand-text fw-light">AdminLTE 4</span> 
		<!--end::Brand Text--> 
		</a>	
	<!--end::Brand Link--> 
	
	</div> 
	<!--end::Sidebar Brand-->

	<!--begin::Sidebar Wrapper-->
	<div class="sidebar-wrapper" data-overlayscrollbars="host"><div class="os-size-observer os-size-observer-appear"><div class="os-size-observer-listener ltr"></div></div><div data-overlayscrollbars-viewport="scrollbarHidden" style="margin-right: -16px; margin-bottom: -16px; margin-left: 0px; top: -8px; right: auto; left: -8px; width: calc(100% + 16px); padding: 8px; overflow-y: scroll;">
		<nav class="mt-2"> <!--begin::Sidebar Menu-->
			<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
				<li class="nav-item"> 
					<a href="{{ url_for('home') }}" class="nav-link"> <i class="nav-icon bi bi-speedometer"></i>
						<p>Dashboard</p>
					</a> 
				</li>
					
				<li class="nav-item" id="projects_menu"> 
					<a href="{{ url_for('projects_bp.projects') }}" id="" class="nav-link"> <i class="nav-icon bi bi-box-seam-fill"></i>
						<p>Projects</p>
					</a>
				</li>	
		
					
				 <li class="nav-item" id="reports_menu">
					<a href="#" class="nav-link"> 
					<i class="nav-icon bi bi-clipboard-fill"></i>
					
						<p>
						Reports<i class="nav-arrow bi bi-chevron-right"></i>
						</p>
					</a>
					
					<ul class="nav nav-treeview">
						<li class="nav-item"> 
							<a href="{{ url_for('cylinders_bp.cylinders')}}" id="cylinders_bp" class="nav-link"> 
								<i class="nav-icon bi bi-circle"></i>
								<p>Cylinder</p>
							</a> 
						</li>
						<li class="nav-item"> 
							<a href="{{ url_for('cubes_bp.cubes')}}" id="cubes_bp" class="nav-link"> 
								<i class="nav-icon bi bi-circle"></i>
								<p>Grout and Epoxy Cubes</p>
							</a> </li>
						<li class="nav-item">
							<a href="{{ url_for('prisms_bp.prisms')}}" id="prisms_bp" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>Shrinkage Prisms</p>
							</a> 
						</li>
					</ul>
				</li>
				
				 <li class="nav-item" id="settings_menu">
					<a href="#" class="nav-link"> 
					<i class="nav-icon bi bi-clipboard-fill"></i>
						<p>
						Settings<i class="nav-arrow bi bi-chevron-right"></i>
						</p>
					</a>
					
					<ul class="nav nav-treeview">
						<li class="nav-item"> 
							<a href="{{ url_for('settings_bp.user')}}" id="settings-user" class="nav-link"> 
								<i class="nav-icon bi bi-circle"></i>
								<p>User</p>
							</a> 
						</li>
						<li class="nav-item"> 
							<a href="{{ url_for('settings_bp.email_lists')}}" id="settings-email_lists" class="nav-link"> 
								<i class="nav-icon bi bi-circle"></i>
								<p>Email Lists</p>
							</a> </li>
						<li class="nav-item">
							<a href="#" id="settings-break_schedules"  class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>Break Schedules</p>
							</a> 
						</li>
						<li class="nav-item">
							<a href="{{ url_for('settings_bp.reports')}}" id="settings-reports"  class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>Reports</p>
							</a> 
						</li>
					</ul>
				</li>

			</ul> <!--end::Sidebar Menu-->
		</nav>
	</div><div class="os-scrollbar os-scrollbar-horizontal os-theme-light os-scrollbar-auto-hide os-scrollbar-handle-interactive os-scrollbar-track-interactive os-scrollbar-cornerless os-scrollbar-unusable os-scrollbar-auto-hide-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%;"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-theme-light os-scrollbar-auto-hide os-scrollbar-handle-interactive os-scrollbar-track-interactive os-scrollbar-visible os-scrollbar-cornerless os-scrollbar-auto-hide-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 65.844%;"></div></div></div></div> <!--end::Sidebar Wrapper-->
</aside>


